<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.BusinessMapper">

    <select id="getBusinessById" resultType="com.zb.pojo.Business">
        select
                id as id,
                number as number,
                password as password,
                accout as accout,
                fraction as fraction,
                address as address,
                state as state,
                datetime as datetime
        from business
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getBusinessListByMap" resultType="com.zb.pojo.Business" parameterType="java.util.Map">
        select
                id as id,
                number as number,
                password as password,
                accout as accout,
                fraction as fraction,
                address as address,
                 state as state,
                datetime as datetime
        from business
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="number != null and number!=''">
                    and number=#{number}
                </if>
                <if test="password != null and password!=''">
                    and password=#{password}
                </if>
                <if test="accout != null and accout!=''">
                    and accout like concat ('%',#{accout},'%')
                </if>
                <if test="fraction != null and fraction!=''">
                    and fraction=#{fraction}
                </if>
                <if test="address != null and address!=''">
                    and address=#{address}
                </if>
            <if test="state != null and state!=''">
                and state=#{state}
            </if>
            <if test="datetime != null and datetime!=''">
                and datetime=#{datetime}
            </if>
        </trim>
        <if test="index != null and size != null ">
            limit ${index},${size}
        </if>
    </select>

    <select id="getBusinessCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from business
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="number != null and number!=''">
                    and number=#{number}
                </if>
                <if test="password != null and password!=''">
                    and password=#{password}
                </if>
            <if test="accout != null and accout!=''">
                and accout like concat ('%',#{accout},'%')
            </if>
                <if test="fraction != null and fraction!=''">
                    and fraction=#{fraction}
                </if>
                <if test="address != null and address!=''">
                    and address=#{address}
                </if>
            <if test="state != null and state!=''">
                and state=#{state}
            </if>
            <if test="datetime != null and datetime!=''">
                and datetime=#{datetime}
            </if>
        </trim>
    </select>

    <insert id="insertBusiness" parameterType="com.zb.pojo.Business">
        insert into business(
                          id,
                        number,
                        password,
                        accout,
                        fraction,
                        address,
                        state,
                        datetime)
        values(
                       null ,
                     #{number},
                     #{password},
                     #{accout},
                     12,
                    #{address},
                     2,
                     now())
    </insert>

    <update id="updateBusiness" parameterType="com.zb.pojo.Business">
        update business
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="number != null and number!=''">
                            number=#{number},
                        </if>
                        <if test="password != null and password!=''">
                            password=#{password},
                        </if>
                        <if test="accout != null and accout!=''">
                            accout=#{accout},
                        </if>
                        <if test="address != null and address!=''">
                            address=#{address},
                        </if>
                      <if test="state != null and state!=''">
                            state=#{state}
                         </if>

        </trim>
    </update>

    <update id="updateBusinessFraction" parameterType="com.zb.pojo.Business">
        update business
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="cffraction != null and cffraction!=''">
                fraction=fraction-#{cffraction}
            </if>
        </trim>
    </update>

    <select id="loginBusiness" resultType="com.zb.pojo.Business" >
        select*from `Business` u where  u.`number`=#{number}  and u.`password`=#{password}
</select>

   <select id="getBusinessBynumber" resultType="com.zb.pojo.Business">
       select*from `Business` u where u.`number`=#{number}
</select>

   <delete id="deleteBusiness" parameterType="int">
       delete from business where id=#{id}
   </delete>


</mapper>