<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.RepliesMapper">

    <select id="getRepliesByFid" resultType="com.zb.pojo.Replies">
        select * from replies where forumid=#{fid}
    </select>

    <insert id="insertReplies" parameterType="com.zb.pojo.Replies">
        insert into replies values(
                      null，
                     #{userid},
                     #{content},
                    #{forumid},
                    now())
    </insert>


</mapper>