<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.TuikuanMapper">



    <sql id="where_page">
        <if test="orderid!=null and orderid!=''">
            and o.orderid like concat ('%',#{orderid},'%')
        </if>
    </sql>

    <select id="FindTuikuanAll" resultType="com.zb.vo.TuikuanVo">
        SELECT  r.id,r.`businessid`,r.`state`,r.`details`,r.`address`,r.`yuanyin`,o.`orderid`,u.uname,u.phone   FROM
        refund r,orderinfo o , `user` u  WHERE r.`orderid`=o.id and r.userid=u.id
        <include refid="where_page"></include>
       order by r.id  limit ${index},${size}
    </select>

    <select id="getTuikuanCount" resultType="int">
        SELECT count(1) FROM
        refund r,orderinfo o , `user` u  WHERE r.`orderid`=o.id  and r.userid=u.id
        <include refid="where_page"></include>
    </select>

</mapper>  